html {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%; }
  html body {
    font-size: 1.6rem; }
    html body h1, html body h2 {
      color: #252525; }
    html body p {
      color: #949494; }
    html body p.purple-highlight {
      color: #701dbb;
      font-weight: bold; }
