.what-it-does-container {
  width: 100%;
  padding-top: 5.5rem;
  background-color: #222;
  color: #fff;
  text-align: center; }
  .what-it-does-container .what-it-does-content-container {
    width: 100%;
    height: 578px;
    text-align: center;
    background: url("../img/screen.png");
    background-repeat: no-repeat;
    background-position: center; }
    .what-it-does-container .what-it-does-content-container h2 {
      color: #fff; }
